<div class="bg-white">
    <div class="container py-4">
        <hr style="height: 1px border-width: 0 color: gray background-color: gray">
        <div class="d-flex">
            <div>
                <h2 class="d-flex"> <b>This First Heading</b> &nbsp; <b class="text-muted">Will Catch Your Eye</b></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat adipisci molestias exercitationem
                    nam unde ipsam nihil sapiente ut illum aut dolore, sint necessitatibus eos, vel quisquam modi iure
                    recusandae doloremque?</p>
            </div>
            <img class="rounded-circle ms-3" src="./assets/img/1.jpg" alt="walterBlanco" width="250" height="250">
        </div>
    </div>
</div>