<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
    <div class="container-fluid bg-dark">
        <div class="row">
        <div class="col-12 text-light-emphasis bg-dark">
        <button type="button" class="btn btn-dark text-secondary pt-1 ps-2 w-10">Start Bootstrap</button>
        <button type="button" class="btn btn-dark text-secondary pt-1 ps-2">About</button>
        <button type="button" class="btn btn-dark text-secondary pt-1 ps-2">Services</button>
        <button type="button" class="btn btn-dark text-secondary pt-1 ps-2">Portfolio</button>
        <button type="button" class="btn btn-dark text-secondary pt-1 ps-2">Contact</button>
        </div>
        </div>