 <nav class="navbar navbar-expand-md bg-body-tertiary p-0">
    <div class="container-fluid bg-dark p-2 pt-0 pb-0">
      <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn bg-dark text-secondary border-0">Start Bootstrap</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn bg-dark text-secondary border-0 ps-3">About</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn bg-dark text-secondary border-0 ps-3">Services</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn bg-dark text-secondary border-0 ps-3">Portfolio</button>
          </li>
          <li class="nav-item"></li>
          <button type="button" class="btn bg-dark text-secondary border-0 ps-3">Contact</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>