<!-- your html code here -->
 <div class="container portfolio bg-white">
    <hr style="height: 1px; border-width: 0; color: gray; background-color: gray;">
     
     <h2>Portfolio</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum placeat necessitatibus esse nam incidunt? Alias asperiores voluptate laboriosam quidem minus nisi ducimus recusandae ex repudiandae? Neque numquam ut excepturi error!</p>
     <div class="row d-flex justify-content-center">
         
         <div class="col-sm-12 col-md-6 col-lg-4">
             <div class="card" style="width: 18rem;">
                 <img src="https://media.istockphoto.com/id/471964103/photo/the-village-of-ronda-in-andalusia-spain.jpg?s=612x612&w=0&k=20&c=kU0Su-J_JveF1nN0UQsxjFsdZWsN0lV1675i_hfP3Xo=" class="card-img-top" alt="ronda">
                 <div class="card-body">
                     <h5 class="card-title">Project name</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore sequi, aperiam dolor dolore cupiditate praesentium veniam ipsa reiciendis at suscipit quos sit placeat blanditiis quis quasi excepturi quisquam eos.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/471964103/photo/the-village-of-ronda-in-andalusia-spain.jpg?s=612x612&w=0&k=20&c=kU0Su-J_JveF1nN0UQsxjFsdZWsN0lV1675i_hfP3Xo=" class="card-img-top" alt="ronda">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore sequi, aperiam dolor dolore cupiditate praesentium veniam ipsa reiciendis at suscipit quos sit placeat blanditiis quis quasi excepturi quisquam eos.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/471964103/photo/the-village-of-ronda-in-andalusia-spain.jpg?s=612x612&w=0&k=20&c=kU0Su-J_JveF1nN0UQsxjFsdZWsN0lV1675i_hfP3Xo=" class="card-img-top" alt="ronda">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore sequi, aperiam dolor dolore cupiditate praesentium veniam ipsa reiciendis at suscipit quos sit placeat blanditiis quis quasi excepturi quisquam eos.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>