<!-- your html code here -->

<div class="contact-services">

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">
                <h2 class="card-title d-flex justify-content-center">
                    <b>The Second Heading</b> &nbsp; <b class="text-muted"> Is Pretty Cool Too. </b></h2>
                    <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illum ipsum atque! Tempore, cupiditate delectus reiciendis, eos, saepe atque repudiandae optio impedit reprehenderit quos blanditiis voluptates vel aspernatur deserunt eveniet?</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="https://img.freepik.com/premium-photo/pov-qa-engineer-typing-keyboard-while-using-computer-workplace-office-copy-space_236854-39309.jpg?w=360" alt="Keyboard" class="rounded-circle">
            </div>
                
        </div>
