<!-- your html code here -->
<br>
<br>
<br>
<br>

    <div class="contact-services">

    <div class="class container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <img src="https://img.freepik.com/premium-photo/pov-qa-engineer-typing-keyboard-while-using-computer-workplace-office-copy-space_236854-39309.jpg?w=360" alt="Keyboard" class="rounded-circle" width="350" height="350" class="img-fluid">
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 text-center">
            <h2 class="card-title d-flex justify-content-center">
                <b>The Second Heading</b> &nbsp; <b class="text-muted"> Is Pretty Cool Too. </b></h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis illum ipsum atque! Tempore, cupiditate delectus reiciendis, eos, saepe atque repudiandae optio impedit reprehenderit quos blanditiis voluptates vel aspernatur deserunt eveniet?</p>
            </div>

            </div>
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>
